* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
 
}


.containerPag {
  background-image: url("./img/fondo4.jpeg");
   background-size: 100% 15%;
   object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  
}

/*Carrito*/
.icono-carrito {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icono-carrito:hover {
	cursor: pointer;
}


.container-contador{
	position: absolute;
	right: 0; 

	background-color:white;
	color: black;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.contador-productos {
	font-size: 15px;
}

.container-carrito {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.carrito-productos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-carrito{
	display: flex;  
	justify-content: space-between;
	flex: 0.8;
}

.titulo-producto-carrito {
	font-size: 20px;
  margin-left: .5rem;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}


.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.borrar-producto {
	width: 25px;
	height: 25px;
}
.contenedor-icono{
  position: relative;
}
.borrar-producto:hover {
	stroke: red;
	cursor: pointer;
}

.carrito-total{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.carrito-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.ocultar-carrito {
	display: none;
}

.carrito-vacio {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.boton-limpiar {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.boton-limpiar:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}

/*Inicio*/
.logo {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  cursor: default;
  font-style: italic;
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(270deg, #00ff00, #1a00ff, #ff00ff, #00ffff);
  background-size: 800% 800%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gamerColorAnimation 8s ease infinite;
}

@keyframes gamerColorAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-inicio {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido-inicio {
  width: 70%;
  height: 70%;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}

.dia {
  font-size: 4rem;
  align-self: flex-start;
  cursor: default;
  color: whitesmoke;
  font-style: italic;
}

.textoDia {
  align-self: flex-start;
  font-size: 3rem;
  text-wrap: pretty;
  width: 80%;
  cursor: default;
  color: antiquewhite;
  font-style: oblique;
}

.button-inicio {
  background-color: whitesmoke;
  text-decoration: none;
  font-size: 1.5rem;
  width: fit-content;
  color: blue;
  font-weight: bold;
  align-self: flex-end;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  transition: background-color 1s;
  &:hover {
    color: whitesmoke;
    background-color: blue;
    cursor: pointer;
  }
}

/*Header Productos*/
.header {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 1rem;
}

.container-busqueda {
  display: flex;
  gap: 1rem;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.inputBuscar{
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  opacity: .8;
}

.icon-lupa {
  right: 0;
  width: 10%;
  height: 100%;
}

/*Productos*/
.main-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  width: 80%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.precio-añadir{
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.precio-productos {
  border-radius: 10px;
  padding: .1rem;
  width: 40%;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(0, 0, 255, 0.500);
  color: whitesmoke;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.añadir{
  border-radius: 10px;
  border: none;
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
}

.descripcion-productos {
  text-wrap: pretty;
}

.imgProducto {
  width: 100%;
  border-radius: 20px;
}

.container-producto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px 12px;
  text-align: center;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.container-producto:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
