.form-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    z-index: 1;
    padding: 2rem;
    background-color: gray;
}

.form-container button{
    width: 100%;
    padding: 10px;
    outline: 2px solid white;
    background: black;
    color: whitesmoke;
    border: none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

.form-container button:hover{
    background: rgba(154, 30, 30, 0.8);
}

 input{
    color: whitesmoke;
    width: 100%;
    height: 25px;
    padding: 0 10px;
    background: rgba(184, 182, 255, 0.1);
    border: 3px solid transparent;
    letter-spacing: 2px;
    transition: .2s;
    outline: none;
}

 input::placeholder{
    color: whitesmoke;
}

 input:focus::placeholder{
    color: transparent;
}

.textArea::placeholder{
    color: whitesmoke;
}

.textArea:focus::placeholder{
    color: transparent;
}

 input:focus{
    border-bottom: 2px solid red;
}

.textArea:focus{
    border-bottom: 2px solid red;
}

.textArea{
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255/.1);
    border: 3px solid transparent;  
    letter-spacing: 1px; 
    outline: none;
    transition: .3s;
    color: whitesmoke;
    resize: none;
}

.formularios{
    position: relative;
}
